/* Style Général */
*{
    box-sizing: inherit;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    max-width: 100%;
    box-sizing: inherit;
  }

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    max-width: 100%;
}

p{
    font-size: 16px;
    line-height: 1.5;
}

h1{
    font-size: 30px;
    margin: 1%;
}

h2{
    font-size: 24px;
    text-align: center;
}

span{
    font-weight: bold;
}

section{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;
}

.PartBlanc{
    background-color: rgb(209, 209, 209);
    color: rgb(27, 27, 27);
}
.PartBlanc hr{
    border: 1px solid rgb(27, 27, 27);
}
.PartBlanc a{
    color: rgb(27, 27, 27);
}

.PartNoir{
    background-color: rgb(27, 27, 27);
    color: rgb(209, 209, 209);
}
.PartNoir hr{
    border: 1px solid white;
}

.PointProjet{
    text-align: center;
}
.PointProjet img{
    height: 40vh;
    /* margin: 5px; */
}
.PointProjet div div ul img{
    height: auto;
    /* margin: 5px; */
}
.PointProjet div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.PointProjet div div{
    width: 25%;
    min-width: 300px;
    margin: 20px;
    flex-direction: column;
}
.PointProjet ul{
    list-style-type: none;
}
.PointProjet ul img{
    width: 30px;
    margin: 5px;
    vertical-align: middle;
}
.PointProjet .paragraphe{
    width: 60%;
}
/* Style Général */

/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    padding-left: 7%;
    padding-right: 7%;
    align-items: center;
    position: relative;
    width: 100%;
}

nav img{
    width: 50px;
    display: block;
    margin: 15px;
}


nav ul{
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin: 1%;
    list-style-type: none;
}

nav ul li{
    min-width: 75px;
    margin: 7px;
}
nav ul li:hove{
    text-decoration: underline;
}


.ColorDark{
    background-color: rgb(27, 27, 27);
    color: rgb(209, 209, 209);
}

.ColorDark a{
    color: rgb(209, 209, 209);
    text-decoration: none;
}
/* Navigation */

/* Home */
.Accueil{
    width: 100%;
    height: 50vh;
    background-image: url('../images/landscape-2003756_1920.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
}
.Accueil h1{
    display: block;
    margin: auto;
    color: #eee;
    text-align: center;
    font-size: 46px;
    animation: title 2s 0.5s both;
}
.Accueil h2{
    display: block;
    margin: auto;
    color: #eee;
    text-align: center;
    font-size: 36px;
    animation: title 2s 0.5s both;
}
.Accueil hr{
    width: 60%;
    margin: auto;
    border: 1px solid white;
    animation: hrTitle 2s 0.5s both;
}

.Propos div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Propos .imgLogo{
    width: 25%;
    min-width: 300px;
}
.Propos .imgLogo img{
    width: 100%;
    min-width: 300px;
}
.Propos p{
    width: 50%;
    min-width: 300px;
    margin: 10px;
}
.Propos hr{
    width: 50%;
    border: 1px solid black;
}

.Formation .BullesFormation{
    text-align: center;
    border-radius: 10px;
    width: 50%;
    min-width: 300px;
    padding: 1%;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.Formation .BullesFormation hr{
    border: rgb(27, 27, 27) 1px solid;
    width: 50%;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.ExpPro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.ExpPro .Nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 250px;
    margin: auto;
}
.ExpPro .Nav button{
    font-size: 16px;
    background-color: rgb(27, 27, 27);
    color: rgb(209, 209, 209);
    border-radius: 10px;
    padding: 3%;
    box-shadow: 0 9px rgba(153, 153, 153, 0.5);
    margin: 5px;
    cursor: pointer;
}
.ExpPro .Nav button:active{
    transform: translateY(4px);
}
.ExpPro .ExpProText{
    width: 60%;
    min-width: 300px;
    margin: auto;
}
.Projet{
    padding-left: 0px;
    padding-right: 0px;
}
.Projet div{
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 3vh;
}
.Projet div div{
    width: 100%;
    padding: 0.5%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: left;
    height: 20vh;
    margin-top: 2%;
}
.Projet div div h3{
    width: 100%;
}

.PointProjet{
    min-height: 100vh;
}

.Contact{
    text-align: center;
}
.Contact form{
    /* width: 75%; */
    margin: auto;
}
.Contact p{
    width: 50%;
    min-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
}
.Contact p input, .Contact p textarea{
    width: 100%;
    min-width: 300px;
    background-color: rgb(27, 27, 27);
    color: rgb(209, 209, 209);
    min-height: 5vh;
    border-radius: 10px;
    margin: auto;
}
.Contact p textarea{
    min-height: 20vh;
}

/* Medias Queries */
@media screen and (max-width: 450px) {
    .Projet div div {
      font-size: 10px;
    }
  }
/* ANIMATION */
@keyframes title{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

    @keyframes hrTitle{
        from{
          width: 0%;
          opacity: 0;
        } to{
            width: 50%;
            opacity: 1;
        }
}